{% extends 'base.html' %}

{% block content %}
  <h1>Duties List</h1>
  <a href="{% url 'create' %}">Create Duty</a>
  <ul>
    {% for duty in duties %}
      <li>
        <div style="background-color: beige; padding: 5px; margin: 5px;">
          <h3>Name: {{ duty.name }}</h3>
          <p>Person: {{ duty.person }}</p>
          <p>Status: {{ duty.status }}</p>
          <a href="{% url 'change_status' duty.id %}">Update</a>
          <a href="{% url 'edit_or_delete' duty.id %}">Edit or Delete</a>
          <a href="{% url 'assign_person' duty.id %}">Assign Person</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
